@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<address>
    Somewhere in Oreti<br />
    Southland<br />
    <abbr title="Phone">P:</abbr>
    123-345-567
</address>

<address>
    <strong>Manager:</strong> <a href="mailto:pamphoemphoon@gmail.com">pamphoemphoon@gmail.com</a><br />
    <strong>Website Design:</strong> <a href="mailto:finlaybrown@gmail.com">finlaybrown@gmail.com</a>
</address>
